nav {
  background-color: #ffffff;
  margin-top: 10px;
  overflow: auto;
  background-image: linear-gradient(to right, #bec7db, #ffffff);
}

#link {
  font-size: 25px;
  padding-top: 21px;
  color: #000000;
}

a {
  font-size: 20px;
}

body {
  background-image: url(../../assets/images/grey_wash_wall.png);
  font-family: "News Cycle", sans-serif;
}

.clearfix {
  overflow: auto;
}

#topper {
  font-size: 50px;
  margin-left: 10px;
  text-shadow: 1px 1px 0 #777777;
}
#pro {
  font-size: 40px;
}
p {
  font-size: 20px;
  padding-bottom: 20px;
}
hr {
  margin-bottom: 30px;
}
.col-md {
  background-color: aliceblue;
  padding: 10px;
  margin: 5px 0px 5px 0px;
  position: relative;
}

#right {
  background-image: linear-gradient(to left, #bec7db, #ffffff);
}

#left {
  background-image: linear-gradient(to right, #bec7db, #ffffff);
}
.row {
  margin-top: 10px;
}

#icon {
  width: 100%;
  align-content: center;
}

#icon2 {
  width: 75%;
  display: block;
  /* margin-left: auto;
    margin-right: auto; */
}

#index {
  display: block;
  position: absolute;
  top: 30px;
  margin: 30px;
}

#code {
  color: #000000;
  position: absolute;
  bottom: 5px;
  /* padding: 5px; */
}

#credit {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  margin: 10px;
}

#creditL {
  display: block;
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin: 10px;
}
#photo {
  padding: 0;
}

a:link {
  color: #777777;
  text-decoration: none;
}

a:visited {
  color: #777777;
  text-decoration: none;
}

a:hover {
  color: #000000;
  opacity: 0.75;
}

footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  background: #ffffff;
  position: sticky;
  color: #777777;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #bec7db, #ffffff);
}

@media only screen and (max-width: 640px) {
  h1 {
    /* background: #ffffff;
      color: #4aaaa5; */
    left: 0px;
    font-size: 20px;
    /* text-align: center; */
  }

  #link {
    font-size: 20px;
    padding-top: 0px;
  }

  .About {
    width: 75%;
    margin: 0px;
    left: 2px;
  }
  .IndexImg {
    width: 38%;
    height: 38%;
  }

  p {
    margin: 10px;
    padding: 10px;
  }
  body {
    /* background: #ffffff; */
  }

  hr {
    color: #ffffff;
  }

  input {
    border: solid 1px #cccccc;
  }

  .Stock {
    padding-left: 65px;
  }

  .Box {
    margin: 20px 20px 20px 25px;
    padding: 20px;
    width: 75%;
  }

  footter {
    margin-top: 15px;
    position: relative;
    left: 0px;
  }

  .display {
    visibility: visible;
  }
}
